[submodule "2018-CS-326-HanoverEMS-EMSResponseDashboard"]
	path = 2018-CS-326-HanoverEMS-EMSResponseDashboard
	url = https://github.com/VCU-CS-Capstone/2018-CS-326-HanoverEMS-EMSResponseDashboard.git
